@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 38 33% 98%;
    --foreground: 220 10% 25%;
    --card: 38 33% 98%;
    --card-foreground: 220 10% 25%;
    --popover: 38 33% 98%;
    --popover-foreground: 220 10% 25%;
    --primary: 30 95% 53%;
    --primary-foreground: 30 50% 10%;
    --secondary: 38 15% 94%;
    --secondary-foreground: 220 10% 25%;
    --muted: 38 15% 94%;
    --muted-foreground: 215 10% 55%;
    --accent: 200 44% 44%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 38 10% 90%;
    --input: 38 10% 90%;
    --ring: 30 95% 53%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222 47% 11%;
    --foreground: 38 33% 98%;
    --card: 222 47% 11%;
    --card-foreground: 38 33% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 38 33% 98%;
    --primary: 30 95% 53%;
    --primary-foreground: 30 50% 10%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 38 33% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 10% 55%;
    --accent: 200 44% 44%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 30 95% 53%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
